In [1]:
import numpy as np 
import pandas as pd 
data ={
    'id':["1001","1001","1002","1003","1001","1002","1002","1003","1001","1002","1001","1002"],
    'date':['2019-01-01','2019-01-01','2019-01-01','2019-01-01','2019-01-02','2019-01-02','2019-01-02','2019-01-02','2019-01-03','2019-01-03','2019-01-04','2019-01-04'],
    'goods': list('ABABAABAABAA'),
    'sales':[3000, 2000, 3000, 2000, 3000, 3000, 2000, 3000, 3000, 2000, 3000, 3000]

}
df = pd.DataFrame(data)
print(df.head(5))

id        date goods  sales
0  1001  2019-01-01     A   3000
1  1001  2019-01-01     B   2000
2  1002  2019-01-01     A   3000
3  1003  2019-01-01     B   2000
4  1001  2019-01-02     A   3000

In [5]:
table = pd.pivot_table(df, index =['id', 'date'], values = 'sales', aggfunc = np.sum, margins=True)
table

                 sales
id   date
1001 2019-01-01   5000
     2019-01-02   3000
     2019-01-03   3000
     2019-01-04   3000
1002 2019-01-01   3000
     2019-01-02   5000
     2019-01-03   2000
     2019-01-04   3000
1003 2019-01-01   2000
     2019-01-02   3000
All              32000

In [12]:
#请将上面的统计数据再增加一列，统计出每个人的销售总金额
table1 = df.pivot_table( index=['id'], columns='date', values='sales', aggfunc=sum, margins=True)
table1

date  2019-01-01  2019-01-02  2019-01-03  2019-01-04    All
id
1001      5000.0      3000.0      3000.0      3000.0  14000
1002      3000.0      5000.0      2000.0      3000.0  13000
1003      2000.0      3000.0         NaN         NaN   5000
All      10000.0     11000.0      5000.0      6000.0  32000

In [6]:
datum = {
'sex':['man','man','women','women','man','women','man','women','women'],
'age':[15,23,25, 17, 35, 57, 24, 31, 22],
'smoke':['True','False','False','True','True','False','False','True','False'],
'height':[168,179,181,166,173,178,188,190,160]

}
df1= pd.DataFrame(datum)
print(df1)

sex  age  smoke  height
0    man   15   True     168
1    man   23  False     179
2  women   25  False     181
3  women   17   True     166
4    man   35   True     173
5  women   57  False     178
6    man   24  False     188
7  women   31   True     190
8  women   22  False     160

In [8]:
table_gender = df1.pivot_table( index = ['sex'], values=['age', 'height'], aggfunc=np.mean)
table_gender

         age  height
sex
man    24.25     177
women  30.40     175

In [9]:
pd.crosstab(df1.sex, df1.smoke)

smoke  False  True
sex
man        2     2
women      3     2

In [10]:
pd.crosstab(df1.age, df1.smoke)

smoke  False  True
age
15         0     1
17         0     1
22         1     0
23         1     0
24         1     0
25         1     0
31         0     1
35         0     1
57         1     0

In [11]:
pd.crosstab(df1.sex, df1.smoke, values=df1.age, aggfunc=np.average)

smoke      False  True
sex
man    23.500000  25.0
women  34.666667  24.0