In [18]:
import pandas as pd


job_csv = pd.read_csv('./assets/jobs.csv')

df = job_csv.drop_duplicates()
df.head()

                                               title                company company_size      industry type       salary company_type     source experience education  salary2
0                                            招聘数据分析师           北京越铖国际科技有限公司       20-99人    人事/行政/高级管理   全职   8000-12000           民营         斗米         不限        不限  10000.0
1                                              数据分析师      北京新东方教育科技（集团）有限公司          NaN  计算机/互联网/信息技术   全职  12000-20000           民营  OFweek人才网         不限        不限  16000.0
2                                          数据分析师(新浪)          新浪网技术(中国)有限公司   2000-5000人         数据分析师   全职  20000-25000     外商独资/办事处         猎聘       3-5年        本科  22500.0
3                                              数据分析师         北京美科思远环境科技有限公司       20-99人      环保/环境科学类   全职  12000-20000          股份制      北极星招聘         不限        硕士  16000.0
4  助理、临床样本库采样人员、软件工程师、数据库管理工程师、机械设计与结构工程师、Android...  中国人民解放军总医院（北京市解放军医学院）          NaN            医疗   全职           面议         公立医院    康强医疗人才网         不限        不限      NaN

In [19]:
print(df.info())
print(df.describe())

<class 'pandas.core.frame.DataFrame'>
Int64Index: 650 entries, 0 to 649
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   title         647 non-null    object
 1   company       650 non-null    object
 2   company_size  588 non-null    object
 3   industry      642 non-null    object
 4   type          650 non-null    object
 5   salary        650 non-null    object
 6   company_type  650 non-null    object
 7   source        647 non-null    object
 8   experience    650 non-null    object
 9   education     650 non-null    object
 10  salary2       546 non-null    float64
dtypes: float64(1), object(10)
memory usage: 60.9+ KB
None
            salary2
count    546.000000
mean   14409.894689
std     5933.391289
min     2500.000000
25%    10000.000000
50%    16000.000000
75%    16000.000000
max    25000.000000

In [20]:
# 统计数据表中的招聘岗位都来自于哪些网站（阅读参考文章③④）
df['source'].value_counts()

猎聘           580
OFweek人才网     33
斗米            17
百姓网            5
北极星招聘          5
普工招聘网          4
工厂直聘网          2
康强医疗人才网        1
Name: source, dtype: int64

In [30]:
#统计数据分析师这个岗位，对于工作经验的要求（阅读参考文章③④）
df[df.title == '数据分析师']['experience'].value_counts(dropna=False)

不限    18
Name: experience, dtype: int64

In [29]:
#统计该地区数据分析岗位对于教育背景的要求（阅读参考文章③④）
df[df.title == '数据分析师']['education'].value_counts()

不限    13
本科     3
硕士     2
Name: education, dtype: int64

In [31]:
#请统计出不同类型公司的职位数量（阅读参考文章③④）
df['company_type'].value_counts(dropna=False)

民营          458
上市公司         62
外商独资/办事处     45
中外合资/合作      42
国企           34
事业单位          4
个人企业          2
股份制           1
公立医院          1
其它            1
Name: company_type, dtype: int64

In [32]:
#所有职位的平均工资是多少
df['salary2'].mean()

14409.894688644688

In [56]:
#请统计平均薪资（即 salary2）排在前 10 位的招聘公司及金额（阅读参考文章⑤⑥）
df_salary_mean = df['salary2'].groupby(df['company']).mean().sort_values(ascending=False)[0:10]
print(df_salary_mean)

company
xx公司                         25000.0
中建材信息技术股份有限公司                25000.0
北京某互联网公司                     25000.0
北京正东金控信息服务有限公司               25000.0
北京永利范思科技有限公司                 25000.0
中网数据(北京)股份有限公司               25000.0
清控紫荆(北京)教育科技股份有限公司           25000.0
云账户技术(天津)有限公司                25000.0
以尧企业发展（上海）有限公司               25000.0
依托数据分析的，聚合形成个人信用码的新科技平台公司    25000.0
Name: salary2, dtype: float64

In [57]:
#统计发布职位数排在前 10 位的招聘公司及其职位数量（阅读参考文章⑤⑥）
df_count = df['title'].groupby(df['company']).count().sort_values(ascending=False)[0:10]
print(df_count)

company
深圳索信达数据技术有限公司          7
百度在线网络技术(北京)有限公司       7
车好多旧机动车经纪(北京)有限公司      7
海南小易到家电子商务有限公司上海分公司    6
贝壳找房(北京)科技有限公司         5
苏州皇亭电子有限公司             5
北京友信科技有限公司             4
北京字节跳动网络技术有限公司         4
北京中油瑞飞信息技术有限责任公司       4
北京百分点信息科技有限公司          4
Name: title, dtype: int64

In [58]:
#请统计出平均工资排在前 10 位的公司类型及平均工资金额（阅读参考文章⑤⑥）
df_type_mean = df['salary2'].groupby(df['company_type']).mean().sort_values(ascending=False)
print(df_type_mean)

company_type
外商独资/办事处    17468.750000
股份制         16000.000000
民营          14378.595718
上市公司        14367.346939
事业单位        14166.666667
中外合资/合作     13357.142857
个人企业        13250.000000
国企          12846.153846
其它          10000.000000
公立医院                 NaN
Name: salary2, dtype: float64